<table class="table">
    <thead>
        <tr >
            <th scope="col">Name</th>
            <th scope="col">Plataform</th>
            <th scope="col">Tag</th>
            <th scope="col">Price</th>
            <th scope="col">Age</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let responseGame of responseGames">
            <th scope="row">{{ responseGame.name }}</th>
            <td>{{ responseGame.plataforms }}</td>
            <td>{{ responseGame.tags }}</td>
            <td>{{ responseGame.price | currency:'BRL' }}</td>
            <td>{{ responseGame.age }}</td>
            <td><button type="button" class="btn btn-success" routerLink="/gameList/update/{{ responseGame.id }}">Edit</button></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteGame(responseGame.id)">Delete</button></td>
        </tr>
    </tbody>
</table>